{
  "extends": "stylelint-config-standard",
  "plugins": [
    "stylelint-order",
    "stylelint-scss",
    "@namics/stylelint-bem"
  ],
  "rules": {
    "at-rule-disallowed-list": ["debug"],
    "at-rule-empty-line-before": [
      "always",
      {
        "except": ["blockless-after-same-name-blockless", "first-nested"],
        "ignore": ["after-comment"],
        "ignoreAtRules": ["if", "else"]
      }
    ],
    "at-rule-no-unknown": null,
    "block-closing-brace-newline-after": [
      "always",
      {
        "ignoreAtRules": ["if", "else"]
      }
    ],
    "color-no-invalid-hex": true,
    "comment-empty-line-before": null,
    "declaration-empty-line-before": null,
    "function-url-quotes": "always",
    "no-descending-specificity": null,
    "selector-id-pattern": "^([a-z][a-z0-9]*)(-[a-z0-9]+)*$",
    "selector-list-comma-newline-after": null,

    "plugin/stylelint-bem-namics": {
      "patternPrefixes": [],
      "helperPrefixes": []
    },

    "scss/at-else-empty-line-before": "never",
    "scss/at-function-parentheses-space-before": "never",
    "scss/at-function-pattern": "^([a-z][a-z0-9]*)(-[a-z0-9]+)*$",
    "scss/at-import-no-partial-leading-underscore": true,
    "scss/at-mixin-argumentless-call-parentheses": "never",
    "scss/at-mixin-parentheses-space-before": "never",
    "scss/at-mixin-pattern": "^([a-z][a-z0-9]*)(-[a-z0-9]+)*$",
    "scss/at-rule-conditional-no-parentheses": true,
    "scss/at-rule-no-unknown": true,
    "scss/comment-no-empty": true,
    "scss/dimension-no-non-numeric-values": true,
    "scss/dollar-variable-colon-space-after": "at-least-one-space",
    "scss/dollar-variable-colon-space-before": "never",
    "scss/dollar-variable-empty-line-after": [
      "always",
      {
        "except": ["last-nested", "before-dollar-variable"],
        "ignore": ["before-comment", "inside-single-line-block"]
      }
    ],
    "scss/dollar-variable-first-in-block": [
      true,
      {
        "ignore": ["comments", "imports"],
        "except": ["function", "mixin"]
      }
    ],
    "scss/dollar-variable-pattern": "^([a-z][a-z0-9]*)(-[a-z0-9]+)*$",
    "scss/double-slash-comment-whitespace-inside": "always",
    "scss/no-duplicate-mixins": true,
    "scss/operator-no-unspaced": true,
    "scss/percent-placeholder-pattern": "^([a-z][a-z0-9]*)(-[a-z0-9]+)*$",

    "order/order": [
      "custom-properties",
      "dollar-variables",
      {
        "type": "at-rule",
        "name": "extend"
      },
      {
        "type": "at-rule",
        "name": "include",
        "hasBlock": false
      },
      "declarations",
      {
        "type": "at-rule",
        "name": "include",
        "hasBlock": true
      },
      {
        "type": "at-rule"
      },
      {
        "type": "rule",
        "selector": "/^&:\\w/"
      },
      {
        "type": "rule",
        "selector": "/^&/"
      },
      "rules"
    ],
		"order/properties-order": [
      {
        "groupName": "heading",
        "emptyLineBefore": "never",
        "properties": [
          "content",
          "quotes"
        ]
      },
      {
        "groupName": "box",
        "emptyLineBefore": "never",
        "properties": [
          "display",
          "visibility",

          "position",
          "z-index",
          "top",
          "right",
          "bottom",
          "left",

          "box-sizing",

          "grid",
          "grid-after",
          "grid-area",
          "grid-auto-columns",
          "grid-auto-flow",
          "grid-auto-rows",
          "grid-before",
          "grid-column",
          "grid-column-end",
          "grid-column-gap",
          "grid-column-start",
          "grid-columns",
          "grid-end",
          "grid-gap",
          "grid-row",
          "grid-row-end",
          "grid-row-gap",
          "grid-row-start",
          "grid-rows",
          "grid-start",
          "grid-template",
          "grid-template-areas",
          "grid-template-columns",
          "grid-template-rows",

          "flex",
          "flex-basis",
          "flex-direction",
          "flex-flow",
          "flex-grow",
          "flex-shrink",
          "flex-wrap",
          "align-content",
          "align-items",
          "align-self",
          "justify-content",
          "order",

          "width",
          "min-width",
          "max-width",

          "height",
          "min-height",
          "max-height",

          "margin",
          "margin-top",
          "margin-right",
          "margin-bottom",
          "margin-left",

          "padding",
          "padding-top",
          "padding-right",
          "padding-bottom",
          "padding-left",

          "float",
          "clear",

          "overflow",
          "overflow-x",
          "overflow-y",

          "clip",
          "zoom",

          "columns",
          "column-gap",
          "column-fill",
          "column-rule",
          "column-span",
          "column-count",
          "column-width",

          "table-layout",
          "empty-cells",
          "caption-side",
          "border-spacing",
          "border-collapse",
          "list-style",
          "list-style-position",
          "list-style-type",
          "list-style-image"
        ]
      },
      {
        "groupName": "animation",
        "emptyLineBefore": "never",
        "properties": [
          "transform",
          "transform-box",
          "transform-origin",
          "transform-style",
          "backface-visibility",
          "perspective",
          "perspective-origin",

          "transition",
          "transition-property",
          "transition-duration",
          "transition-timing-function",
          "transition-delay",

          "animation",
          "animation-name",
          "animation-duration",
          "animation-play-state",
          "animation-timing-function",
          "animation-delay",
          "animation-iteration-count",
          "animation-direction",
          "animation-fill-mode",
        ]
      },
      {
        "groupName": "border",
        "emptyLineBefore": "never",
        "properties": [
          "border",
          "border-top",
          "border-right",
          "border-bottom",
          "border-left",
          "border-width",
          "border-top-width",
          "border-right-width",
          "border-bottom-width",
          "border-left-width",

          "border-style",
          "border-top-style",
          "border-right-style",
          "border-bottom-style",
          "border-left-style",

          "border-radius",
          "border-top-left-radius",
          "border-top-right-radius",
          "border-bottom-right-radius",
          "border-bottom-left-radius",

          "border-color",
          "border-top-color",
          "border-right-color",
          "border-bottom-color",
          "border-left-color",

          "outline",
          "outline-color",
          "outline-offset",
          "outline-style",
          "outline-width",

          "stroke-width",
          "stroke-linecap",
          "stroke-dasharray",
          "stroke-dashoffset",
          "stroke"
        ]
      },
      {
        "groupName": "background",
        "emptyLineBefore": "never",
        "properties": [
          "opacity",

          "background",
          "background-attachment",
          "background-clip",
          "background-color",
          "background-image",
          "background-repeat",
          "background-position",
          "background-size",
          "box-shadow",
          "fill"
        ]
      },
      {
        "groupName": "text",
        "emptyLineBefore": "never",
        "properties": [
          "color",

          "font",
          "font-family",
          "font-size",
          "font-size-adjust",
          "font-smoothing",
          "font-stretch",
          "font-style",
          "font-variant",
          "font-weight",

          "font-emphasize",
          "font-emphasize-position",
          "font-emphasize-style",

          "letter-spacing",
          "line-height",
          "list-style",

          "text-align",
          "text-align-last",
          "text-decoration",
          "text-decoration-color",
          "text-decoration-line",
          "text-decoration-style",
          "text-indent",
          "text-justify",
          "text-overflow",
          "text-overflow-ellipsis",
          "text-overflow-mode",
          "text-rendering",
          "text-outline",
          "text-shadow",
          "text-transform",
          "text-wrap",
          "word-wrap",
          "word-break",

          "text-emphasis",
          "text-emphasis-color",
          "text-emphasis-style",
          "text-emphasis-position",

          "vertical-align",
          "white-space",
          "word-spacing",
          "hyphens",

          "src"
        ]
      },
      {
        "groupName": "other",
        "emptyLineBefore": "never",
        "properties": [
          "tab-size",
          "counter-reset",
          "counter-increment",
          "resize",
          "cursor",
          "pointer-events",
          "speak",
          "user-select",
          "nav-index",
          "nav-up",
          "nav-right",
          "nav-down",
          "nav-left"
        ]
      }
    ]
  }
}
