/**
* OPSONE
* BEM METHOD
* .org[-js]-Block[-element][--modifier]
*/

/* add image css in css/images */
/* sample @import 'home.css'; */

body {
  background-color: red;
  background: url(../files/images/capture.png)
}

div {
  background: url(../files/images/logo.png)
}
